body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.quo-cntnr{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quo-bx{
  background-color: white;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: fit-content;
  padding: 2em;
  border-radius: 1em;
}
.quo-cntnr>*{
  display: flex;
  justify-content: center;
}
button {
  border-radius: 1em;
  height: 4em;
  border-style: none;
  background-color: white;
  margin-top: 2em;
}